@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Jaro:opsz@6..72&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@layer components {
  .text-login {
    @apply text-[white] font-AntonSC font-bold text-3xl;
  }
  .text-main {
    @apply text-[white] font-sans text-xl;
  }
  .slider-container {
    @apply relative w-full max-w-4xl mx-auto;
  }
  .blue-btn {
    @apply font-bold px-7 py-4 rounded-xl bg-primary text-[white] hover:bg-[#0A5561];
  }
  .white-btn {
    @apply font-bold px-7 py-4 rounded-xl bg-[white] text-[black] hover:text-[#9B9797];
  }
}
